.main {
  width: 100%;
  height: 101%;
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s;
  transform-origin: 0 0 0;
  /* transform: rotateX(-20deg) rotateY(30deg); */

}

@font-face {
  font-family: 'MyCustomFont';
  src: url('../font/字魂风华雅宋\(商用需授权\).ttf') format('woff2'),
    url('../font/字魂风华雅宋\(商用需授权\).ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.banner {
  width: 100%;
  height: 101%;
  display: grid;
  /* position: absolute; */
}

.hg {
  /* display: inline-block; */

  justify-self: center;
  align-items: center;
  /* position: relative; */
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  /* background: url(../image/首页/首页（翻书1）.png) no-repeat center center/cover; */
  /* transform: rotate(-90deg); */
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  filter: brightness(0.2);

}

.hj {
  /* display: inline-block; */
  position: absolute;
  width: 66.3542vw;
  height: 76.1111vh;
  transform: rotateZ(-8deg);
  left: 2.5521vw;
  top: 7.4074vh;
  filter: brightness(1.15);

  z-index: 1;
}

.lj {
  position: absolute;
  width: 42.9167vw;
  height: 61.2037vh;


  left: 57.0833vw;
  top: 38.7963vh;
  z-index: 0;
}

.nr {
  position: absolute;


  font-family: 'MyCustomFont', sans-serif;

  width: 40.625vw;
  height: 30.3704vh;
  color: rgba(0, 0, 0, 0.6);
  transform: rotateZ(-8deg);

  font-size: 1.25vw;
  line-height: 2.7778vh;

  top: 22.963vh;
  left: 21.6667vw;
  z-index: 2;
}

.tow {
  margin-top: 2.7778vh;
}

.jj {
  position: absolute;
  z-index: 2;

  width: 8.5938vw;
  height: 29.6296vh;

  left: 11.875vw;
  top: 28.6111vh;

}

.xqnr {
  position: absolute;
  width: 4.3229vw;
  height: 5.9259vh;

  top: 59.0741vh;
  left: 58.5417vw;

  z-index: 2;
}


.ccjs {
  position: absolute;

  width: 7.5521vw;
  height: 13.3333vh;
  font-family: 'MyCustomFont', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 3.125vw;
  line-height: 6.6667vh;
  text-align: right;
  font-style: normal;
  text-transform: none;

  top: 19.3519vh;
  right: 3.3854vw;

}

.zm {
  position: absolute;

  width: 8.9063vw;
  height: 5.0926vh;
  font-family: 'MyCustomFont', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.1458vw;
  line-height: 2.5vh;
  letter-spacing: 0.625vw;
  text-align: right;
  font-style: normal;
  text-transform: none;

  top: 36.1111vh;
  right: 2.7604vw;
}