* {
  margin: 0;
  padding: 0;
}
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-image: url("../access/SS_4/Rectangle_72.png");
  overflow: hidden;
  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
}

.header_contianer {
  width: 95vw;
  height: 8vh;
  position: absolute;
  left: 50vw;
  top: 6vh;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.bighr {
  position: absolute;
  left: 50vw;
  top: 12vh;
  transform: translate(-50%, -50%);

  width: 95.1vw;
  height: 1vh;
  box-shadow: 1 1 10px balck;
  background-image: url("../access/SS_4/Rectangle_3.png");
  border-bottom: 2px solid black;
  border-top: 2px solid black;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: CONTER;
}
.header_contianer a[class^="title_header_"] {
  margin-top: 0.65vh;

  width: 6.54vw;
  height: 6.32vh;
}
.title_header_1 {
  background-image: url("../access/SS_4/hsxt.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: over;
  transform: scale(1.5);
}
.title_header_3 {
  background-image: url("../access/SS_4/sgsy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: over;
}
.title_header_4 {
  background-image: url("../access/SS_4/qxsl.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: over;
}
.title_header_5 {
  background-image: url("../access/SS_4/csgs.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: over;
}
div[class^="A_"] {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  background-image: url("../access/SS_4/Rectangle_72.png");

  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.picture_1 {
  transform-style: preserve-3d;
  position: absolute;
  width: 40vw;
  perspective: 1500px;
  height: 70vh;
  transition: all 1s;
  transform: rotateY(0deg);
}
.pic_1,
.pic_2 {
  background-image: url("../access/SS_4/Rectangle_73.png");

  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.animate_1 {
  width: 40vw;
  height: 70vh;
  position: absolute;
  right: 5vw;
  top: 18vh;
  transition: all 1s;
}
.pic_1 {
  z-index: 2;
}
.pic_2 {
  transform: rotateY(180deg);

  z-index: 1;
}

.T_1 {
  background-image: url("../access/SS_4/Group_26\ \(1\).png");

  position: absolute;
  width: 10vw;
  height: 10vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 4vh;
  opacity: 0;
  transition: all 1.5s;
  transform: scale(0);
}
.T_2 {
  background-image: url("../access/SS_4/Group_28.png");

  position: absolute;
  width: 18vw;
  height: 20vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 70%;
  opacity: 0;
  transition: all 1.5s;
}
.T_3 {
  background-image: url("../access/SS_4/Group_29.png");

  position: absolute;
  width: 10vw;
  height: 5vh;
  background-size: 100% 100%;
  right: -10%;
  top: 20%;
  transform: scale(0);
  opacity: 0;
  transition: all 1.5s;
}
.T_4 {
  background-image: url("../access/SS_4/Group_27.png");
  opacity: 0;
  transition: all 1.5s;
  position: absolute;
  width: 15vw;
  height: 4vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: -10%;
  top: 50%;
  transform: scale(0);
}
.word_s {
  top: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50vw;
  height: 50vh;
}
.word_2s {
  top: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50vw;
  height: 50vh;
  right: 0;
}

/*????????????????*/
.aa1 {
  background-image: url("../access/SS_4/310g.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 50%;
  height: 20%;
}
.aa2 {
  background-image: url("../access/SS_4/bijizhidi.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 20%;
  margin-bottom: 1vh;
}
.aa3 {
  background-image: url("../access/SS_4/zhongguohong.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 5%;
  margin-bottom: 1vh;
}
/*????????????????*/
.aa4 {
  background-image: url("../access/SS_4/20240617155407.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 50%;
  height: 5%;
}
.w_0 {
  position: absolute;
  bottom: 4vh;
  left: 3vw;
  background-color: #3e030e;
  background-size: 80% 80%;
  background-image: url("../access/SS_4/hzjg.png");
  width: 7vw;
  height: 4vh;
  background-position:10px;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.w_1{
  position: absolute;
  bottom: 4vh;
  right: 3vw;
  width: 7vw;
  height: 4vh;
  background-position:10px;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: #3e030e;
  background-size: 80% 80%;
  background-image: url("../access/SS_4/hzjg.png");
}
.animate_2 {
  width: 40vw;
  height: 70vh;
  position: absolute;
  left: 5vw;
  top: 18vh;
  transition: all 1s;
}
.picture_2 {
  transform-style: preserve-3d;
  position: absolute;
  width: 40vw;
  perspective: 1500px;
  height: 70vh;
  transition: all 1s;
  transform: rotateY(0deg);
}
.pic_3,
.pic_4 {
  background-image: url("../access/SS_4/Rectangle_100.png");

  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.pic_3 {
  z-index: 2;
}
.pic_4 {
  transform: rotateY(180deg);

  z-index: 1;
}
.S_1 {
  background-image: url("../access/SS_4/Group_33.png");

  position: absolute;
  width: 10vw;
  height: 10vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 4vh;
  opacity: 0;
  transform: scale(0);
  transition: all 1.5s;
}
.S_2 {
  background-image: url("../access/SS_4/Group_34.png");

  position: absolute;
  width: 18vw;
  height: 20vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 70%;
  opacity: 0;
  transition: all 1.5s;
  transform: scale(0);
}
.S_3 {
  background-image: url("../access/SS_4/Group_32\ \(1\).png");

  position: absolute;
  width: 8vw;
  height: 3vh;
  background-size: 100% 100%;
  right: -10%;
  top: 20%;
  transform: scale(0);
  opacity: 0;
  transition: all 1.5s;
}
.S_4 {
  background-image: url("../access/SS_4/Group_31.png");
  opacity: 0;
  transition: all 1.5s;
  position: absolute;
  width: 12vw;
  height: 4vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: -10%;
  top: 25%;
  transform: scale(0);
}
.S_5 {
  background-image: url("../access/SS_4/Group_35.png");
  opacity: 0;
  transition: all 2s;
  position: absolute;
  width: 8vw;
  height: 16vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: -5%;
  top: 82%;
  transform: scale(0);
}

.bb1 {
  background-image: url("../access/SS_4/cengce.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 50%;
  height: 20%;
}
.bb2 {
  background-image: url("../access/SS_4/bishui.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 20%;
  margin-bottom: 1vh;
}
.bb3 {
  background-image: url("../access/SS_4/qiushui.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 20%;
  height: 5%;
  margin-bottom: 2vh;
}
/*????????????????*/
.bb4 {
  background-image: url("../access/SS_4/xiri.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 80%;
  height: 6%;
}
.animate_3 {
  width: 40vw;
  height: 70vh;
  position: absolute;
  right: 5vw;
  top: 18vh;
  transition: all 1s;
}
.picture_3 {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  perspective: 1500px;
  height: 100%;
  transition: all 1s;
  transform: rotateY(0deg);
}
.pic_5,
.pic_6 {
  background-image: url("../access/SS_4/Rectangle_101.png");

  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.pic_5 {
  z-index: 2;
}
.pic_6 {
  transform: rotateY(180deg);

  z-index: 1;
}

div[class^="F_"] {
  z-index: 1;
}
.word_3s {
  top: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50vw;
  height: 50vh;
  left: 0;
}

.cc1 {
  background-image: url("../access/SS_4/gongque.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 50%;
  height: 20%;
}
.cc2 {
  background-image: url("../access/SS_4/tiesuo.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 20%;
  margin-bottom: 1vh;
}
.cc3 {
  background-image: url("../access/SS_4/puban.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 5%;
  margin-bottom: 1vh;
}
/*????????????????*/
.cc4 {
  background-image: url("../access/SS_4/kuayue.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 50%;
  height: 5%;
}
.F_1 {
  background-image: url("../access/SS_4/Group_26\ \(1\).png");
  transform: scale(0);
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 4vh;
  opacity: 0;
  transition: all 1.5s;
}
.F_2 {
  background-image: url("../access/SS_4/Group_39.png");
  transform: scale(0);
  position: absolute;
  width: 18vw;
  height: 18vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 70%;
  opacity: 0;
  transition: all 1.5s;
  transform: scale(0);
}
.F_3 {
  background-image: url("../access/SS_4/Group_38.png");

  position: absolute;
  width: 8vw;
  height: 5vh;
  background-size: 100% 100%;
  right: -3%;
  top: 5%;
  transform: scale(0);
  opacity: 0;
  transition: all 1.5s;
}
.F_4 {
  background-image: url("../access/SS_4/Group_37.png");
  opacity: 0;
  transition: all 1.5s;
  position: absolute;
  width: 15vw;
  height: 4vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: -10%;
  top: 50%;
  transform: scale(0);
}
.animate_4 {
  width: 40vw;
  height: 70vh;
  position: absolute;
  left: 5vw;
  top: 18vh;
}
.picture_4 {
  transform-style: preserve-3d;
  position: absolute;
  width: 40vw;
  perspective: 1500px;
  height: 70vh;
  transition: all 1s;
  transform: rotateY(0deg);
}
.pic_7,
.pic_8 {
  background-image: url("../access/SS_4/Rectangle102.png");

  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.pic_7 {
  z-index: 2;
}
.pic_8 {
  transform: rotateY(180deg);

  z-index: 1;
}
.Q_1 {
  background-image: url("../access/SS_4/Group_40.png");
  transform: scale(0);
  position: absolute;
  width: 10vw;
  height: 8vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -7%;
  top: 4vh;
  opacity: 0;
  transition: all 1.5s;
}
.Q_2 {
  background-image: url("../access/SS_4/Group_44.png");
  transform: scale(0);
  position: absolute;
  width: 18vw;
  height: 20vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: -10%;
  top: 70%;
  opacity: 0;
  transition: all 1.5s;
}
.Q_3 {
  background-image: url("../access/SS_4/Group_42.png");

  position: absolute;
  width: 10vw;
  height: 5vh;
  background-size: 100% 100%;
  right: -10%;
  top: 20%;
  transform: scale(0);
  opacity: 0;
  transition: all 1.5s;
}
.Q_4 {
  background-image: url("../access/SS_4/Group_41.png");
  opacity: 0;
  transition: all 1.5s;
  position: absolute;
  width: 13vw;
  height: 5vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: -10%;
  top: 28%;
  transform: scale(0);
}
.Q_5 {
  background-image: url("../access/SS_4/Group_35.png");
  opacity: 0;
  transition: all 1.5s;
  position: absolute;
  width: 8vw;
  height: 16vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: -5%;
  top: 82%;
  transform: scale(0);
}
.word_4s {
  top: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50vw;
  height: 50vh;
  right: 0;
}

.xx1 {
  background-image: url("../access/SS_4/gaosu.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 50%;
  height: 20%;
}
.xx2 {
  background-image: url("../access/SS_4/yunxiao.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 20%;
  margin-bottom: 1vh;
}
.xx3 {
  background-image: url("../access/SS_4/yiyu.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 30%;
  height: 5%;
  margin-bottom: 2vh;
}
/*????????????????*/
.xx4 {
  background-image: url("../access/SS_4/yingxiong.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 60%;
  height: 6%;
}
.bigtitle {
  background-image: url("../access/SS_4/wenren.png");
  width: 50%;
  height: 10%;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.LS {
  width: 50%;
  height: 25%;
  position: absolute;
  background-image: url("../access/SS_4/LS.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div[class^="LS_"] {
  transition: top 1s;
  cursor: pointer;
}

.LS_1 {
  background-image: url("../access/SS_4/Group_45.png");
  z-index: 5;
  transform: translate(-50%, -50%);
  top: -33%;
  left: 50%;
  width: 20%;
  height: 50%;
  position: absolute;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.LS_2 {
  background-image: url("../access/SS_4/Group_46.png");
  z-index: 4;
  transform: translate(-50%, -50%);
  top: -33%;
  left: 50%;
  width: 20%;
  height: 50%;
  position: absolute;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.LS_3 {
  background-image: url("../access/SS_4/Group_47.png");

  transform-origin: left bottom;
  transform: translate(-50%, -50%);
  top: -33%;
  left: 50%;
  width: 23%;
  height: 55%;
  position: absolute;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.LS_4 {
  background-image: url("../access/SS_4/Group_48.png");
  transform: translate(-50%, -50%);
  top: -33%;
  left: 50%;
  width: 26%;
  height: 60%;
  position: absolute;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.SSS {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 55%;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../access/SS_4/Group_50.png");
}
.FFF {

 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 55%;
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%); 


}

.FFF img {
  transition: all 1s;
  position: absolute;
  border-radius:250px;
 width: 100%;
 height: 100%;
}
.FFF:hover img {
  border-radius: 0;
}
.hhh {
  transition: all 1s;
  width: 12.5vw;
  height: 7.5vh;
  position: absolute;
  left: 20%;
  bottom: -1%;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hhh:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.smalltitle {
  width: 45%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left:53%;
  top: 27%;
  transform: translate(-50%,-50%);
}
div[class^="SM-"] {
  cursor: pointer;
  border-radius: 5px;
}
.SM-1 {
  background-image: url("../access/SS_4/changzhneg.png");

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 3.5vw;
  height: 3vh;
}
.SM-2 {
  background-image: url("../access/SS_4/langtaos.png");

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 5vw;
  height: 3vh;
}
.SM-3 {
  background-image: url("../access/SS_4/lugxy.png");

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 7.5vw;
  height: 3vh;
}
.SM-4 {
  background-image: url("../access/SS_4/qiyu.png");

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 3.5vw;
  height: 3vh;
}
div[class^="porm_"] {
  background-position: conter;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 17%;
  transition: all 1s;

  width: 70vw;
  height: 60vh;
}
  .SA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.5vw;
  height: 4vh;
  transition: all 1s;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}
.SA:hover {
  background-color: #dd572c;
}
.porm_1 {
  z-index: 5;
  background-image: url("../access/SS_4/Group_51.png");

  top: 40%;

  
} .porm_2 {
  z-index: 4;

  background-image: url("../access/SS_4/Group_52.png");



  top: 36%;
}
 .porm_3 {
  background-image: url("../access/SS_4/Group_64.png");

  z-index: 3;



  top:32%;
}
.porm_4 {
  z-index: 2;

  background-image: url("../access/SS_4/Group_60.png");


  top: 28%;
}
.scaler_1.porm_1{

  transform:  scale(1);
}
.scaler_2.porm_2{

  transform: scale(0.9);
}
.scaler_3.porm_3{

  transform: scale(0.8);
}
.scaler_4.porm_4{

  transform: scale(0.7);
}
.v{

position: absolute;

transition: right 10s ease-in-out;
background-repeat: no-repeat;
background-size: 100% 100%;

opacity: 0.75;
z-index: 1000;
right: -20%;
}
.qqq{

  transition: all 1s;
  width: 12.5vw;
  height: 7.5vh;
  position: absolute;
  left: 80%;
  bottom: -1%;
  transform: translate(-50%,-50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;



}
.qqq:hover{



  transform: translate(-50%, -50%) scale(1.1);
}