* {
    margin: 0;
    padding: 0;
    font-family: '庞门正道粗书体';
    box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: no-repeat url('../images/BASE.webp');
    background-size: cover;
    overflow: hidden;
}

.logo_bock {
    width: 90px;
    height: 90px;
    display: flex;
    position: absolute;
    left: 3.5vw;
    top: 5vh;
    cursor: pointer;
    z-index: 100;
}

.nav {
    width: 100vw;
    height: 40vh;
    display: flex;
    position: absolute;
    /* background-color: #fff; */
    top: 8vh;
}

.tp1_1 {
    display: flex;
    position: absolute;
    top: 3vh;
    left: 16vw;
    transform: scale(2);
}

.tp1_2 {
    display: flex;
    position: absolute;
    top: 2vh;
    left: 24vw;
    transform: scale(2);
}

.tp1_3 {
    display: flex;
    position: absolute;
    top: 33vh;
    left: 4vw;
    transform: scale(2);
}

.tp2_1 {
    display: flex;
    position: absolute;
    top: 3vh;
    left: 66vw;
    transform: scale(2) rotateY(180deg);
}

.tp2_2 {
    display: flex;
    position: absolute;
    top: 2vh;
    left: 70.2vw;
    transform: scale(2) rotateY(180deg);
}

.tp2_3 {
    display: flex;
    position: absolute;
    top: 33vh;
    left: 87vw;
    transform: scale(2) rotateY(180deg);
    z-index: 20;
}

.el2 {
    display: flex;
    position: absolute;
    width: 19.6875vw;
    height: 39.537vh;
    background: rgba(212, 192, 146, 1);
    top: 0vh;
    left: 41vw;
}

.el2-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14.6875vw;
    height: 34.537vh;
    border: 6px dashed rgba(102, 87, 52, 1);
    background: no-repeat url('../images/YX 1.svg');
    background-position: center;
    transition: background-size 1s ease;
    /* 添加过渡效果 */
}

.el2-item:hover {
    background-size: 220%;
    /* 鼠标移入时背景图变大 */
}

.main {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 40vh;
    /* background-color: #fff; */
    top: 55vh;
    flex: 1;
    z-index: 50;
}

.item {
    height: 100%;
    width: 33.3vw;
    /* background-color: red; */
    background: no-repeat url('../images/K3.svg');
    background-position: center;
}

.wz {
    display: flex;
    position: absolute;
    top: 2vh;
    text-shadow: 11px 6px 6px rgba(148, 125, 71, 1);
    /** 文本1 */
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 2vh;
    line-height: 62.5vh;
    color: rgba(69, 58, 34, 1);
    text-align: center;
    vertical-align: top;
    writing-mode: vertical-rl;
    white-space: nowrap;
    cursor: pointer;
    display: none;
}

.wz_2 {
    letter-spacing: 10vh;
    top: 7vh;
}

.el3 {
    display: flex;
    position: absolute;
    top: 84vh;
    left: 87vw;
    z-index: 20;
}

.el4 {
    display: flex;
    position: absolute;
    top: 2vh;
    left: 87vw;
    z-index: 20;
}

.item .f_1 {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 10vw;
    z-index: 100;
    cursor: pointer;
    transition: opacity 1s;
}

.item .f_2 {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 44vw;
    z-index: 100;
    cursor: pointer;
    transition: opacity 1s;
}

.item .f_3 {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 77vw;
    z-index: 100;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
}

.beside {
    position: absolute;
    right: 0vw;
    top: 0vh;
    width: 9.8958vw;
    height: 100vh;
    opacity: 1;
    background: rgba(212, 192, 146, 1);
}

.beside1 {
    position: absolute;
    right: 0vw;
    top: 0vh;
    width: 76.49px;
    height: 100vh;
    opacity: 1;
    background: rgba(70, 59, 35, 1);
    z-index: 1;
}

.wz8 {
    position: absolute;
    top: 2vh;
    left: 1vw;
    text-shadow: 11px 6px 6px rgba(148, 125, 71, 1);
    /** 文本1 */
    font-size: 150px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 207.9px;
    color: rgba(69, 58, 34, 1);
    text-align: left;
    vertical-align: top;
    z-index: 100;
}

.wz9 {
    position: absolute;
    top: 78vh;
    left: 1vw;
    text-shadow: 11px 6px 6px rgba(148, 125, 71, 1);
    /** 文本1 */
    font-size: 150px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 207.9px;
    color: rgba(69, 58, 34, 1);
    text-align: left;
    vertical-align: top;
}

.beside img {
    position: absolute;
    top: 30vh;
    left: -8vw;
    transform: scale(2.5) rotate(-25deg);
    z-index: 10;
}