@font-face {
  font-family: "MyCustomFont";
  src: url("../font/方正字迹-张爨繁体.TTF") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  /* width: 100vw; */
  height: 490vh;
  background-image: url(../images/main2-bg.png);
}

body::-webkit-scrollbar {
  display: none;
}

.red-box1 {
  position: absolute;
  margin-top: 45vh;
  width: 70vw;
  height: 35vh;
  background-color: #CE4646;
}

.people-1 {
  position: absolute;
  margin-top: 10vh;
  width: 70vw;
  height: 70vh;
  background-size: cover;
  background-image: url(../images/main4-people1.png);
}

.people1-font1 {
  position: absolute;
  margin-top: 80vh;
  width: 35vw;
  height: 15vh;
  /* background-color: #fff; */
  font-size: 2vw;
  line-height: 2;
  color: #CF4545;
}

.chuanchengbaohu {
  position: absolute;
  margin-top: 15vh;
  margin-left: 76vw;
  width: 7vw;
  height: 70vh;
  font-size: 5vw;
  letter-spacing: 2vh;
  writing-mode: vertical-rl;
  color: #CF4545;
  font-family: "MyCustomFont", Arial, sans-serif;
  /* background-color: #fff; */
}

.yuan {
  position: absolute;
  margin-top: 65vh;
  margin-left: 76.5vw;
  width: 6vw;
  height: 12vh;
  border-radius: 50%;
  background-color: #CE4646;
}

.shuxian {
  position: absolute;
  margin-top: 25vh;
  margin-left: 84.5vw;
  width: 0.3vw;
  height: 60vh;
  background-color: #CE4646;
}

.lian {
  position: absolute;
  margin-top: 45vh;
  margin-left: 86vw;
  width: 8vw;
  height: 22vh;
  background-size: cover;
  background-image: url(../images/button.png);
}

.lian-font {
  position: absolute;
  margin-top: 69vh;
  margin-left: 86vw;
  width: 10vw;
  height: 15vh;
  font-size: 1.6vw;
  line-height: 2.4;
  color: #CF4545;
  /* background-color: #fff; */
}

.molian {
  position: absolute;
  margin-top: 115vh;
  margin-left: 5vw;
  width: 13vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-image: url(../images/chuilian.png);
  transition: transform 0.6s ease-in-out;
  /* background-color: #fff; */
}

.molian:hover {
  transform: scale(1.2);
}

.shuxian2 {
  position: absolute;
  margin-top: 102.5vh;
  margin-left: 27vw;
  width: 0.3vw;
  height: 60vh;
  background-color: #CE4646;
  z-index: 2;
}

.people-2 {
  position: absolute;
  margin-top: 100vh;
  margin-left: 51vw;
  width: 45vw;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/main4-people2.png);
  opacity: 1;
}

.video-container {
  position: absolute;
  margin-top: 100vh;
  margin-left: 51vw;
  width: 45vw;
  height: 65vh;
  opacity: 0;
  z-index: 3;
  background-color: #000000;
}

.shipin {
  position: absolute;
  width: 45vw;
  height: 65vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.people2-font2 {
  position: absolute;
  margin-top: 100vh;
  margin-left: 21vw;
  width: 30vw;
  height: 65vh;
  background-color: #fff;
}

.people-wenzi1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100vh;
  margin-left: 22vw;
  width: 5vw;
  height: 65vh;
  font-size: 2vw;
  writing-mode: vertical-rl;
  letter-spacing: 2vh;
  /* background-color: #e31212; */
  z-index: 2;
  color: #CF4545;
}

.people-wenzi2 {
  position: absolute;
  margin-top: 105vh;
  margin-left: 32vw;
  width: 8vw;
  height: 55vh;
  font-size: 1.5vw;
  line-height: 2.2;
  writing-mode: vertical-rl;
  /* background-color: #e51616; */
  z-index: 2;
  color: #CF4545;
}

.people-text {
  position: absolute;
  margin-top: 102.5vh;
  margin-left: 42vw;
  width: 18vw;
  height: 60vh;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/main4-font2.png);
  /* background-color: #d62222; */
}

.red-box2 {
  position: absolute;
  margin-top: 180vh;
  right: 0;
  width: 40vw;
  height: 40vh;
  background-color: #CE4646;
}

.chuangxin-text {
  position: absolute;
  margin-top: 170vh;
  margin-left: 5vw;
  width: 45vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/chuangxin-font.png);
  /* background-color: #fff; */
}

.chuangxin-people {
  position: absolute;
  margin-top: 170vh;
  right: 10vw;
  width: 25vw;
  height: 65vh;
  background-size: cover;
  background-image: url(../images/chuangxin-people.png);
  /* background-color: #e31616; */
}

.fenge1 {
  position: absolute;
  margin-top: 235vh;
  margin-left: 5vw;
  width: 95vw;
  height: 2.5vh;
  border: 1px solid #707070;
  background-color: #CE4646;
}

.zhanyan {
  position: absolute;
  margin-top: 240vh;
  width: 100vw;
  height: 85vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/main4-zhanyan.png);
}

.baocun-yuan {
  position: absolute;
  margin-top: 330vh;
  right: 3vw;
  width: 34vw;
  height: 68vh;
  border-radius: 50%;
  background-color: #CE4646;
}

.baocun-text {
  position: absolute;
  margin-top: 332.5vh;
  margin-left: 5vw;
  width: 60vw;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/baocun-font.png);
  /* background-color: #fff; */
}

.baocun-people {
  position: absolute;
  margin-top: 360vh;
  right: 5vw;
  width: 30vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/main4-baocun-people.png);
  /* background-color: #171793; */
}

.fenge2 {
  position: absolute;
  margin-top: 400vh;
  margin-left: 5vw;
  width: 95vw;
  height: 2.5vh;
  border: 1px solid #707070;
  background-color: #CE4646;
}

.baohu-text {
  position: absolute;
  margin-top: 418vh;
  margin-left: 40vw;
  width: 55vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/baohu-font.png);
  /* background-color: #fff; */
}

.baohu {
  position: absolute;
  margin-top: 420vh;
  margin-left: 3vw;
  width: 0;
  height: 0;
  border-left: 20vw solid transparent;
  /* 左边的边框，透明 */
  border-right: 20vw solid transparent;
  /* 右边的边框，透明 */
  border-bottom: 30vw solid #CE4646;
  /* 底部的边框，实色 */
}

.baohu-people {
  position: absolute;
  margin-top: 431vh;
  /* margin-left: 3vw; */
  width: 34vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/baohu-people.png);
  /* background-color: #fff; */
}

.footer {
  position: absolute;
  margin-top: 485vh;
  width: 100vw;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/main4-footer.png);
}

.a {
  position: absolute;
  margin-top: 170vh;
  right: 6vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/xin.png);
  /* background: #0d7a75; */
}

.a {
  position: absolute;
  margin-top: 170vh;
  right: 6vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/xin.png);
  /* background: #0d7a75; */
}

.b {
  position: absolute;
  margin-top: 200vh;
  margin-left: 65vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/chuang.png);
  /* background-color: #fff; */
}

.c {
  position: absolute;
  margin-top: 250vh;
  margin-left: 20vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/zhan.png);
}

.d {
  position: absolute;
  margin-top: 285vh;
  margin-left: 28vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/yan.png);
}

.e {
  position: absolute;
  margin-top: 335vh;
  /* margin-left: 28vw; */
  right: 3vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/cun.png);
}

.f {
  position: absolute;
  margin-top: 360vh;
  /* margin-left: 28vw; */
  right: 20vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/bao.png);
}

.g {
  position: absolute;
  margin-top: 420vh;
  margin-left: 24vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/bao.png);
}

.h {
  position: absolute;
  margin-top: 460vh;
  margin-left: 18vw;
  width: 14vw;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/hu.png);
}

.innovation {
  position: absolute;
  margin-top: 195vh;
  right: 12vw;
  width: 25vw;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/innovation.png);
  /* background-color: #fff; */
}

.performances {
  position: absolute;
  margin-top: 280vh;
  margin-left: 10vw;
  width: 25vw;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/performances.png);
  /* background-color: #fff; */
}

.preserve {
  position: absolute;
  margin-top: 355vh;
  right: 8vw;
  width: 25vw;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/preserve.png);
  /* background-color: #fff; */
}

.protection {
  position: absolute;
  margin-top: 450vh;
  margin-left: 18vw;
  width: 25vw;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/protection.png);
  /* background-color: #fff; */
}