@font-face {
  font-family: "MyCustomFont";
  src: url("../font/cangeaiminxingkai.ttf") format("truetype"),
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  /* 移除下划线 */
  color: inherit;
  /* 使用继承的颜色 */
  /* 可以根据需要添加其他样式，比如字体、背景等 */
}

.menu {
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: top 0.3s ease-in-out;
  z-index: 5;
  /* 添加过渡效果 */
  position: fixed;
  /* 将菜单固定在屏幕上 */
}

.caidan {
  margin-top: 20vh;
  margin-left: 8vw;
  width: 15vw;
  height: 50vh;
  /* background-color: #ef4c11; */
}

.caidan div {
  /* margin-left: 2vw; */
  width: 15vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "MyCustomFont", Arial, sans-serif;
  font-size: 3vw;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  /* 添加过渡效果 */
}

.caidan div:hover {
  box-shadow: 0 0 10px 10px red,
    /* 红色边框 */
    0 0 20px 6px orange;
  /* 橙色边框 */
  /* 鼠标悬浮时添加红色边框和发光效果 */
}

.shouye {
  letter-spacing: 1vw;
  /* 增加字母间距 */
}

.button {
  position: absolute;
  display: block;
  margin-left: 90vw;
  margin-top: 5vh;
  font-size: 4rem;
  cursor: pointer;
  z-index: 6;
  transition: transform 0.5s ease-in-out;
  /* 延长旋转动画的持续时间 */
}