@font-face {
    font-family: stx;
    src: url(.././font/STXINGKA.TTF);
}
@font-face {
    font-family: pmzd;
    src: url(.././font/庞门正道粗书体.ttf);
}
@font-face {
    font-family: sszz;
    src: url(.././font/江湖+南城往事-上首至尊书法体.ttf);
}
a{
    text-decoration: none;
}
body{
    overflow: hidden;
    transition: all 2s;
}
.body1{
    /* height: 79.25rem; */
    overflow: hidden;
    background-image: url(.././img/棕编之美/背景1.png);
    background-size: 100% 100%;
    transition: all 2s;
}
.body2{
    /* width: 100%; */
    padding-top: 60px;
    height: 56.25rem;
    background-image: url(../img/棕编之美/背景2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
.blur{
  z-index: 100;
    position: fixed;
    width: 100%;
    height: 100px;
    filter: blur(10px);
    /* background-color: #fff; */
    background-image: url(../img/棕编之美/模糊边（上）.png);
    /* background-size: cover; */
}
.header{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: rgba(15,0,0,0.4);
    z-index: 5;
}
.header a{
    z-index: 100;
}
.header-title{
    font-family: pmzd;
    font-size: 28px;
    color: #DBBD81;
}
.logo{
    flex: none;
    width: 8rem;
    height: 8rem;
    position: relative;
    background-image: url(.././img/首页/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}





.main{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    transition:linear 1s;
    /* display: none; */
}
.main-title{
    position: absolute;
    margin-top: 4.525rem;
    z-index: 100;
}
.main-title img{
    transition: all 1s;
    cursor: pointer;
}
.title-sub{
    position: absolute;
    top: 43.25rem;
    /* bottom: -10rem; */
    left: 43%;
    cursor: pointer;
    transition: all 1s;
}
.title-sub:hover{
    transform: rotate(90deg);
    transition: all 1s;
}
.title-sub:hover+.main-title{
    transform: scale(1.1);
    transition: all 1s;
}
.main-title img:hover{
    transform: scale(1.1);
    transition: all 1s;
}
#img1{
    position: absolute;
    top: 880px;
    left: 10%;
    z-index: 1;
    animation: float-vertical 8s  linear;
}
#img2{
    position: absolute;
    top: 880px;
    left: 80%;
    animation: float-vertical 8s  linear;
}
#img3{
    position: absolute;
    top: 880px;
    left: 20%;
    animation: float-vertical 8s  linear;
    animation-delay: 3s;
}
#img4{
    position: absolute;
    top: 880px;
    left: 60%;
    animation: float-vertical 8s  linear;
    animation-delay: 2s;

}
#img5{
    position: absolute;
    /* top: 680px; */
    left: 60%;
}
#img6{
    position: absolute;
    top: 300px;
    left: 25%;
}
#title-sub{
    position: absolute;
    top: 400px;
    left: 50%;
    cursor: pointer;
    font-family: SimHei, SimHei;
    font-weight: 400;
    font-size: 18px;
    color: rgba(242,224,191,0.6);
    line-height: 26px;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.main2{
  overflow: hidden;
  display: none;
  position: relative;
    height: 1200px;
    width: 100%;
    /* background-color: red; */
    background-image: url(../img/棕编之美/棕编之美1/背景1.png);
    background-size: cover;
    transition: all 2s;
    background-color: #D6CBBA;
}
.main2-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 1200px;
  width: 100%;
  background-image: url(../img/棕编之美/棕编之美1/背景2.png);
  background-size: cover; /* 保持背景图的纵横比 */
  transition: transform 1s; /* 添加平滑过渡效果 */
}

.font {
  width: 160px;
  position: absolute;
  font-family: pmzd;
  color: #572E2E;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
}

.font:hover {
  transform: scale(1.3);
  color: #932D1F;
  background-image: url(../img/棕编之美/棕编之美1/（丹顶鹤）点击状态.png);
  background-size: 100% 100%;
  transition: all 1s;
}

#draw {
  top: 300px;
  left: 70%;
}

#dragon {
  top: 500px;
  left: 20%;
}

#panda {
  top: 700px;
  left: 60%;
}

#red {
  top: 900px;
  left: 40%;
}

#loading {
    position: absolute;
    background-color: #DBBD81;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130%;
    z-index: 9999;
  }
  #loading_bg{
    /* background-color: rgba(0,0,0,0.7); */
  }
  
  .loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffffff;
    letter-spacing: 0.2em;
  }
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    position: absolute;
    -webkit-animation: load .7s infinite alternate ease-in-out;
    animation: load .7s infinite alternate ease-in-out;
  }
  .loader::before {
    top: 0;
  }
  .loader::after {
    bottom: 0;
  }
  
  @-webkit-keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 40px;
    }
    100% {
      left: 235px;
      height: 30px;
      width: 15px;
    }
  }
  
  @keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 40px;
    }
    100% {
      left: 235px;
      height: 30px;
      width: 15px;
    }
  }


  @keyframes float-vertical {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, -1200px, 0);
    }
  }